<div class="row">
  <div class="col">
    <div class="card card-default">

      <!-- CABEÇALHO -->
      <div class="card-header card-header-border-bottom d-flex justify-content-between">
        <span>
          <a class="btn btn-lg budget-navigation" (click)="goToPreviousMonth()" routerLinkActive="active" >
            <i class="mdi mdi-arrow-left-drop-circle-outline"></i>
          </a>
          <span class="budget-month">{{ budget.data | date: 'MMMM' }} {{ budget.data | date: 'yyyy' }}</span>
          <a class="btn btn-lg budget-navigation" (click)="gotoNextMonth()" routerLinkActive="active">
            <i class="mdi mdi-arrow-right-drop-circle-outline"></i>
          </a>
        </span>
        <span>
          <div class="media-body align-self-center">
            <h4 class="text-success mb-2">R$ 1.503,40</h4>
            <p>para ser orçado</p>
          </div>
      </span>
      </div>

      <!-- CORPO -->
      <!-- <div class="card-body">
        <button class="btn btn-sm">
          <i class="mdi mdi-plus">Agrupamento</i>
        </button>
      </div> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card card-default">
      <div class="card-body">
        <button class="btn btn-sm">
          <i class="mdi mdi-plus">Agrupamento</i>
        </button>
        <div class="accordion accordion-shadow" *ngFor="let agrupamento of context.budgets[budgetIndex].agrupamentos" >
          <div class="card">
            <div class="card-header" id="agrupamento1">
              <button class="btn btn-link d-flex justify-content-between" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                {{ agrupamento.nome }}
                <p>R$ 200,00</p>
              </button>
            </div>

            <div id="collapseFour" class="collapse show" aria-labelledby="agrupamento1">
              <div class="card-body">
                <div class="responsive-data-table">
                  <table class="table dt-responsive nowrap" style="width:100%">
                    <thead>
                      <tr>
                        <th>Categoria</th>
                        <th class="text-right">Orçamento</th>
                        <th class="text-right">Atividade</th>
                        <th class="text-right">Disponível</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let categoria of agrupamento.categorias">
                        <td>{{ categoria.nome }}</td>
                        <td><div class="form-group input-group-sm"><input type="text" class="form-control input-sm" value="{{categoria.valor_orcado}}" /></div></td>
                        <td><div class="form-group input-group-sm"><input type="text" class="form-control input-sm" /></div></td>
                        <td class=text-right>R$ 50,00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- <div class="accordion accordion-shadow">
          <div class="card">
            <div class="card-header" id="agrupamento1">
              <button class="btn btn-link d-flex justify-content-between" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Agrupamento 1
                <p>R$ 200,00</p>
              </button>
            </div>

            <div id="collapseFour" class="collapse show" aria-labelledby="agrupamento1">
              <div class="card-body">
                <div class="responsive-data-table">
                  <table class="table dt-responsive nowrap" style="width:100%">
                    <thead>
                      <tr>
                        <th>Categoria</th>
                        <th>Orçamento</th>
                        <th>Atividade</th>
                        <th>Disponível</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Categoria 0</td>
                        <td>R$ 50,00</td>
                        <td>R$ 25,00</td>
                        <td>R$ 25,00</td>
                      </tr>
                      <tr>
                        <td>Categoria 1</td>
                        <td>R$ 50,00</td>
                        <td>R$ 25,00</td>
                        <td>R$ 25,00</td>
                      </tr>
                      <tr>
                        <td>Categoria 2</td>
                        <td>R$ 50,00</td>
                        <td>R$ 25,00</td>
                        <td>R$ 25,00</td>
                      </tr>
                      <tr>
                        <td>Categoria 3</td>
                        <td>R$ 50,00</td>
                        <td>R$ 25,00</td>
                        <td>R$ 25,00</td>
                      </tr>
                      <tr>
                        <td>Categoria 4</td>
                        <td>R$ 50,00</td>
                        <td>R$ 25,00</td>
                        <td>R$ 25,00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</div>
