<div class="row">
  <div class="col">
    <div class="card card-default">

      <!-- CABEÇALHO -->
      <div class="card-header card-header-border-bottom d-flex justify-content-between">
        <span>
          <a class="btn btn-lg budget-navigation" (click)="goToPreviousMonth()" routerLinkActive="active" >
            <i class="mdi mdi-arrow-left-drop-circle-outline"></i>
          </a>
          <span class="budget-month">{{ budget.data | date: 'MMMM' }} {{ budget.data | date: 'yyyy' }}</span>
          <a class="btn btn-lg budget-navigation" (click)="gotoNextMonth()" routerLinkActive="active">
            <i class="mdi mdi-arrow-right-drop-circle-outline"></i>
          </a>
        </span>
        <span>
          <div class="media-body align-self-center">
            <h4 class="text-success mb-2">R$ 1.503,40</h4>
            <p>para ser orçado</p>
          </div>
      </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card card-default">
      <div class="card-body">
        <button class="btn btn-sm">
          <i class="mdi mdi-plus">Agrupamento</i>
        </button>
        <div class="accordion accordion-shadow" *ngFor="let agrupamento of budget.agrupamentos" >
          <div class="card">
            <div class="card-header" id="agrupamento1">
              <button class="btn btn-link d-flex justify-content-between" data-toggle="collapse" [attr.data-target]="'#collapse'+agrupamento.id_agrupamento" aria-expanded="true" [attr.aria-controls]="'collapse'+agrupamento.id_agrupamento">
                {{ agrupamento.nome }}
                <p>R$ {{ avaliableByGroup(agrupamento.id_agrupamento) }}</p>
              </button>
            </div>

            <div id="collapse{{agrupamento.id_agrupamento}}" class="collapse show" aria-labelledby="agrupamento1">
              <div class="card-body">
                <div class="responsive-data-table">
                  <table class="table dt-responsive nowrap" style="width:100%">
                    <thead>
                      <tr>
                        <th>Categoria</th>
                        <th class="text-right">Orçamento</th>
                        <th class="text-right">Atividade</th>
                        <th class="text-right">Disponível</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let categoria of agrupamento.categorias">
                        <td>{{ categoria.nome }}</td>
                        <td><div class="form-group input-group-sm"><input type="text" class="form-control input-sm" [value]="categoria.valor_orcado" /></div></td>
                        <td class="text-right">R$ {{ categoria.valor_atividades }}</td>
                        <td class="text-right">R$ {{ avaliableByCategory(categoria) }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
