  <aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar">
      <!-- Aplication Brand -->
      <div class="app-brand">
        <a>
          <svg
            class="brand-icon"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
            width="30"
            height="33"
            viewBox="0 0 30 33"
          >
            <g fill="none" fill-rule="evenodd">
              <path
                class="logo-fill-blue"
                fill="#7DBCFF"
                d="M0 4v25l8 4V0zM22 4v25l8 4V0z"
              />
              <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
            </g>
          </svg>
          <span class="brand-name text-truncate" *ngIf="isCurrenteContextActive()">{{ (contextStore.state$ | async).currentContext.nome }}</span>
        </a>
      </div>
      <!-- begin sidebar scrollbar -->
      <div class="sidebar-scrollbar">

        <!-- sidebar menu -->
        <ul class="nav sidebar-inner" id="sidebar-menu">

            <!-- CONTEXTO -->
            <li class="has-sub expand" routerLinkActive="active">
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#contexto"
                aria-expanded="false" aria-controls="contexto">
                <i class="mdi mdi-view-dashboard-outline"></i>
                <span class="nav-text">Contexto</span> <b class="caret"></b>
              </a>
              <ul class="collapse show"  id="contexto" data-parent="#sidebar-menu">
                <div class="sub-menu">
                    <li>
                      <a class="sidenav-item-link" href="#" data-toggle="modal" data-target="#novoContextoModal">
                        <span class="nav-text">Novo Contexto</span>
                      </a>
                    </li>
                    <li routerLinkActive="active">
                      <a class="sidenav-item-link" [routerLink]="['/context']" >
                        <span class="nav-text">Escolher Contexto</span>
                      </a>
                    </li>
                </div>
              </ul>
            </li>

            <!-- ORÇAMENTO -->
            <li *ngIf="isCurrenteContextActive()" class="li_nav " routerLinkActive="active">
              <a [routerLink]="['/budget']">
                <i class="mdi mdi-script-text"></i> <span class="nav-label">Orçamento</span>
              </a>
            </li>

            <hr class="separator mb-0" />

            <!-- TODAS AS CONTAS -->
            <li *ngIf="isCurrenteContextActive()" class="li_nav" routerLinkActive="active">
              <a [routerLink]="['/transactions', 'all-accounts']" >
                <i class="mdi mdi-bank"></i> <span class="nav-label">Todas as Contas</span>
              </a>
            </li>

            <!-- TODAS AS CONTAS -->
            <li *ngIf="isCurrenteContextActive()" class="li_nav">
              <a href="#" data-toggle="modal" data-target="#novaContaModal">
                <i class="mdi mdi-plus"></i> <span class="nav-label">Nova Conta</span>
              </a>
            </li>

            <!-- ABERTAS -->
            <li *ngIf="isCurrenteContextActive()"  class="has-sub expand" >
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#abertas"
                aria-expanded="false" aria-controls="abertas">
                <i class="mdi mdi-currency-usd"></i>
                <span class="nav-text">Abertas</span> <b class="caret"></b>
              </a>
              <ul  class="collapse show" id="abertas" data-parent="#sidebar-menu">
                <div class="sub-menu">
                    <li *ngFor="let account of activeAccounts">
                      <a class="sidenav-item-link" [routerLink]="['/transactions', 'account', account.id_conta]" routerLinkActive="router-link-active" >
                        <span class="nav-text">{{ account.nome }}</span>
                        <span class="badge badge-primary">R$ 100,00</span>
                      </a>
                    </li>
                </div>
              </ul>
            </li>

            <!-- ENCERRADAS -->
            <li *ngIf="isCurrenteContextActive()"  class="has-sub" >
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#encerradas"
                aria-expanded="false" aria-controls="encerradas">
                <i class="mdi mdi-archive"></i>
                <span class="nav-text">Encerradas</span> <b class="caret"></b>
              </a>
              <ul  class="collapse" id="encerradas" data-parent="#sidebar-menu">
                <div class="sub-menu">
                    <li *ngFor="let account of inactiveAccounts">
                      <a class="sidenav-item-link" [routerLink]="['/transactions', 'account', account.id_conta]" routerLinkActive="router-link-active" >
                        <span class="nav-text">{{ account.nome }}</span>
                        <span class="badge badge-primary">R$ 0,00</span>
                      </a>
                    </li>
                </div>
              </ul>
            </li>

            <hr *ngIf="isCurrenteContextActive()" class="separator mb-0" />

            <!-- CONTATOS -->
            <li *ngIf="isCurrenteContextActive()" class="li_nav" routerLinkActive="active">
              <a [routerLink]="['/payees']" >
                <i class="mdi mdi-contacts"></i> <span class="nav-label">Contatos</span>
              </a>
            </li>

            <!-- RELATÓRIOS -->
            <li *ngIf="isCurrenteContextActive()"  class="has-sub" >
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#reports"
                aria-expanded="false" aria-controls="reports">
                <i class="mdi mdi-poll"></i>
                <span class="nav-text">Relatórios</span> <b class="caret"></b>
              </a>
              <ul  class="collapse"  id="reports"
                data-parent="#sidebar-menu">
                <div class="sub-menu">

                      <li>
                        <a class="sidenav-item-link" [routerLink]="['/spending']" routerLinkActive="router-link-active" >
                          <span class="nav-text">Gastos</span>
                        </a>
                      </li>
                      <li>
                        <a class="sidenav-item-link" [routerLink]="['/net-worth']" routerLinkActive="router-link-active" >
                          <span class="nav-text">Patrimônio</span>
                        </a>
                      </li>
                      <li>
                        <a class="sidenav-item-link" [routerLink]="['/income-expense']" routerLinkActive="router-link-active" >
                          <span class="nav-text">Entrada X Saída</span>
                        </a>
                      </li>
                </div>
              </ul>
            </li>

          </ul>
      </div>

    </div>
  </aside>

  <!-- Novo Contexto -->
  <div class="modal fade" id="novoContextoModal" tabindex="-1" role="dialog" aria-labelledby="novoContextoTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="formNewContext" (ngSubmit)="onNewContextSubmit()" *ngIf="formNewContext">
          <div class="modal-header">
            <h5 class="modal-title" id="novoContextoTitle">Novo Contexto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="nomeNovoContexto">Nome</label>
                <input
                    type="text"
                    class="form-control"
                    id="nomeNovoContexto"
                    placeholder="Ex: Familiar, Empresa, Igreja, etc"
                    formControlName="nome"
                >
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary btn-pill">Criar contexto</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Nova Conta -->
  <div class="modal fade" id="novaContaModal" tabindex="-1" role="dialog" aria-labelledby="novaContaTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="novaContaTitle">Nova Conta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nomeNovaConta">Nome</label>
            <input
                type="text"
                class="form-control"
                id="nomeNovaConta"
                placeholder="Ex: Carteira"
            >
          </div>
          <div class="form-group">
            <label for="tipoNovaConta">Tipo</label>
            <select class="form-control" id="tipoNovaConta">
              <option>Dinheiro</option>
              <option>Conta Bancária</option>
              <option>Crédito</option>
            </select>
          </div>
          <div class="form-group">
            <label for="saldoInicialNovaConta">Saldo Inicial</label>
            <input
                type="text"
                class="form-control"
                id="saldoInicialNovaConta"
                placeholder="0,00"
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-pill" data-dismiss="modal" >Criar conta</button>
        </div>
      </div>
    </div>
  </div>
