  <!-- Check -->
  <td>
    <label class="control outlined control-checkbox checkbox-primary check-all">
      <input type="checkbox" [checked]="transaction.selected" disabled>
      <div class="control-indicator"></div>
    </label>
  </td>

  <!-- Date -->
  <td> {{ transaction.data | date: 'dd/MM/yyyy' }} </td>
  <!-- Contact -->
  <td>{{ transaction.nome_contato }}</td>

  <!-- Category -->
  <td
    class="d-none d-lg-table-cell"
    *ngIf="transaction.categorias.length > 0; else emptyCategory">
    {{ transaction.categorias[0]?.nome }}
  </td>
  <ng-template #emptyCategory>
    <td class="d-none d-lg-table-cell">&nbsp;</td>
  </ng-template>

  <!-- Note -->
  <td class="d-none d-lg-table-cell" >{{ transaction.nota }}</td>

  <!-- Outflow -->
  <td class="d-none d-lg-table-cell">
    <div class="form-group input-group-sm input-transaction">
      <input #budgetInput type="text" class="form-control input-sm" [(ngModel)]="transaction.valor_saida"/>
    </div>
  </td>

  <!-- Inflow -->
  <td class="d-none d-lg-table-cell">
    <div class="form-group input-group-sm input-transaction">
      <input #budgetInput type="text" class="form-control input-sm" [(ngModel)]="transaction.valor_entrada"/>
    </div>
  </td>
