  <aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
      <!-- Aplication Brand -->
      <div class="app-brand">
        <a href="/index.html" title="Sleek Dashboard">
          <svg
            class="brand-icon"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
            width="30"
            height="33"
            viewBox="0 0 30 33"
          >
            <g fill="none" fill-rule="evenodd">
              <path
                class="logo-fill-blue"
                fill="#7DBCFF"
                d="M0 4v25l8 4V0zM22 4v25l8 4V0z"
              />
              <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
            </g>
          </svg>
          <span class="brand-name text-truncate">{{ nomeContexto }}</span>
        </a>
      </div>
      <!-- begin sidebar scrollbar -->
      <div class="sidebar-scrollbar">

        <!-- sidebar menu -->
        <ul class="nav sidebar-inner" id="sidebar-menu">

            <!-- CONTEXTO -->
            <li  class="has-sub" >
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#contexto"
                aria-expanded="false" aria-controls="contexto">
                <i class="mdi mdi-view-dashboard-outline"></i>
                <span class="nav-text">Contexto</span> <b class="caret"></b>
              </a>
              <ul  class="collapse"  id="contexto"
                data-parent="#sidebar-menu">
                <div class="sub-menu">
                    <li>
                      <a class="sidenav-item-link" href="index.html">
                        <span class="nav-text">Novo Contexto</span>
                      </a>
                    </li>
                    <li >
                      <a class="sidenav-item-link" href="analytics.html">
                        <span class="nav-text">Abrir Contexto</span>
                        <span class="badge badge-success">new</span>
                      </a>
                    </li>
                </div>
              </ul>
            </li>

            <!-- ORÇAMENTO -->
            <li class="li_nav " routerLinkActive="active">
              <a [routerLink]="['/budget']">
                <i class="mdi mdi-folder-multiple-outline"></i> <span class="nav-label">Orçamento</span>
              </a>
            </li>

            <hr class="separator mb-0" />

            <!-- TODAS AS CONTAS -->
            <li class="li_nav " routerLinkActive="active">
              <a [routerLink]="['/all-accounts']">
                <i class="mdi mdi-folder-multiple-outline"></i> <span class="nav-label">Todas as Contas</span>
              </a>
            </li>

            <!-- ABERTAS -->
            <li  class="has-sub expand" >
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#abertas"
                aria-expanded="false" aria-controls="abertas">
                <i class="mdi mdi-contacts"></i>
                <span class="nav-text">Abertas</span> <b class="caret"></b>
              </a>
              <ul  class="collapse show" id="abertas" data-parent="#sidebar-menu">
                <div class="sub-menu">
                    <li>
                      <a class="sidenav-item-link" href="chat.html">
                        <span class="nav-text">Carteira</span>
                        <span class="badge badge-primary">R$ 100,00</span>
                      </a>
                    </li>
                    <li>
                      <a class="sidenav-item-link" href="chat.html">
                        <span class="nav-text">Banco do Brasil</span>
                        <span class="badge badge-primary">R$ 2.355,49</span>
                      </a>
                    </li>
                    <li>
                      <a class="sidenav-item-link" href="chat.html">
                        <span class="nav-text">Nubank</span>
                        <span class="badge badge-danger">R$ -5,00</span>
                      </a>
                    </li>
                </div>
              </ul>
            </li>

            <!-- ENCERRADAS -->
            <li  class="has-sub" >
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#encerradas"
                aria-expanded="false" aria-controls="encerradas">
                <i class="mdi mdi-contacts"></i>
                <span class="nav-text">Encerradas</span> <b class="caret"></b>
              </a>
              <ul  class="collapse" id="encerradas" data-parent="#sidebar-menu">
                <div class="sub-menu">
                    <li>
                      <a class="sidenav-item-link" href="chat.html">
                        <span class="nav-text">Next</span>
                        <span class="badge badge-primary">R$ 0,00</span>
                      </a>
                    </li>
                </div>
              </ul>
            </li>

            <hr class="separator mb-0" />

            <!-- CONTATOS -->
            <li  class="has-sub" >
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#contatos"
                aria-expanded="false" aria-controls="contatos">
                <i class="mdi mdi-contacts"></i>
                <span class="nav-text">Contatos</span> <b class="caret"></b>
              </a>
              <ul  class="collapse" id="contatos" data-parent="#sidebar-menu">
                <div class="sub-menu">
                    <li>
                      <a class="sidenav-item-link" href="chat.html">
                        <span class="nav-text">Gerenciar Contatos</span>

                      </a>
                    </li>
                </div>
              </ul>
            </li>

            <!-- RELATÓRIOS -->
            <li  class="has-sub" >
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#reports"
                aria-expanded="false" aria-controls="reports">
                <i class="mdi mdi-file-document-box-multiple"></i>
                <span class="nav-text">Relatórios</span> <b class="caret"></b>
              </a>
              <ul  class="collapse"  id="reports"
                data-parent="#sidebar-menu">
                <div class="sub-menu">

                      <li>
                        <a class="sidenav-item-link" href="alert.html">
                          <span class="nav-text">Gastos</span>
                        </a>
                      </li>
                      <li>
                        <a class="sidenav-item-link" href="badge.html">
                          <span class="nav-text">Patrimônio</span>
                        </a>
                      </li>
                      <li>
                        <a class="sidenav-item-link" href="badge.html">
                          <span class="nav-text">Entrada X Saída</span>
                        </a>
                      </li>
                </div>
              </ul>
            </li>

          </ul>
      </div>

    </div>
  </aside>
