
<!-- Recent Order Table -->
<div class="card card-table-border-none recent-orders" id="recent-orders">
  <div class="card-header justify-content-between">
    <h2>Transações</h2>
    <div class="date-range-report ">
      <span></span>
    </div>
  </div>
  <div class="card-body pt-0 pb-5">
    <table class="table card-table table-responsive table-responsive-large" style="width:100%">
      <thead>
        <tr>
          <th class='check-all'>
            <label class="control outlined control-checkbox checkbox-primary">
              <input type="checkbox" (click)="selectAllRows()" >
              <div class="control-indicator"></div>
            </label>
          </th>
          <th>Data</th>
          <th>Contato</th>
          <th>Categoria</th>
          <th>Nota</th>
          <th>Saída</th>
          <th>Entrada</th>
        </tr>
      </thead>
      <tbody>
          <tr
              app-transaction-row
              *ngFor="let transaction of transactions"
              [transaction]="transaction"
              (click)="selectRow(transaction)"
          ></tr>
          <tr
              app-transaction-input
              *ngFor="let transaction of transactions"
              [transaction]="transaction"
              (click)="selectRow(transaction)"
          ></tr>


      </tbody>
    </table>
  </div>
</div>
