/* You can add global styles to this file, and also import other style files */

.input-transaction {
  margin-bottom: 0px !important;

}

.input-value {
  float: right;
}

.input-value input {
  width: 4.1rem;
  direction: rtl;
  height: 1.45rem !important;
  padding: 0 !important;
}

.input-date input {
  height: 1.45rem !important;
  padding: 0 !important;
  width: 7.6rem !important;
}
